In [170]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
import pandas as pd

In [171]:
# This will be the module to retrieve our data and place it in a data frame.

csv_2009 = pd.read_csv("2009.csv")
csv_2010 = pd.read_csv("2010.csv")
csv_2011 = pd.read_csv("2011.csv")
csv_2012 = pd.read_csv("2012.csv")
csv_2013 = pd.read_csv("2013.csv")
csv_2014 = pd.read_csv("2014.csv")
csv_2015 = pd.read_csv("2015.csv")
csv_2016 = pd.read_csv("2016.csv")
csv_2017 = pd.read_csv("2017.csv")
csv_2018 = pd.read_csv("2018.csv")

csv_capacity = pd.read_csv("Park_Capacity_Year.csv")


df_2009 = pd.DataFrame(csv_2009)
df_2010 = pd.DataFrame(csv_2010)
df_2011 = pd.DataFrame(csv_2011)
df_2012 = pd.DataFrame(csv_2012)
df_2013 = pd.DataFrame(csv_2013)
df_2014 = pd.DataFrame(csv_2014)
df_2015 = pd.DataFrame(csv_2015)
df_2016 = pd.DataFrame(csv_2016)
df_2017 = pd.DataFrame(csv_2017)
df_2018 = pd.DataFrame(csv_2018)
df_capacity = pd.DataFrame(csv_capacity)

In [172]:
#csv_2009.groupby("Tm").count()


#df_capacity["Difference %"] = (100 / df_capacity["Capacity D"]) * df_capacity["Capacity N"]
#df_capacity.head(20)
df_capacity_2009 = df_capacity[df_capacity["Year"]==2009]
df_capacity_2009.head()

df_capacity_2010 = df_capacity[df_capacity["Year"]==2010]
df_capacity_2010.head()

df_capacity_2011 = df_capacity[df_capacity["Year"]==2011]
df_capacity_2011.head()

df_capacity_2012 = df_capacity[df_capacity["Year"]==2012]
df_capacity_2012.head()

df_capacity_2013 = df_capacity[df_capacity["Year"]==2013]
df_capacity_2013.head()

df_capacity_2014 = df_capacity[df_capacity["Year"]==2014]
df_capacity_2014.head()

df_capacity_2015 = df_capacity[df_capacity["Year"]==2015]
df_capacity_2015.head()

df_capacity_2016 = df_capacity[df_capacity["Year"]==2016]
df_capacity_2016.head()

df_capacity_2017 = df_capacity[df_capacity["Year"]==2017]
df_capacity_2017.head()

df_capacity_2018 = df_capacity[df_capacity["Year"]==2018]
df_capacity_2018.head()

    Year Team  Capacity D  Capacity N
9   2018  CHC       41649       41649
19  2018  BOS       37305       37755

In [173]:
csv_2009 = csv_2009.rename(columns={"Tm": "Team"})
csv_2010 = csv_2010.rename(columns={"Tm": "Team"})
csv_2011 = csv_2011.rename(columns={"Tm": "Team"})
csv_2012 = csv_2012.rename(columns={"Tm": "Team"})
csv_2013 = csv_2013.rename(columns={"Tm": "Team"})
csv_2014 = csv_2014.rename(columns={"Tm": "Team"})
csv_2015 = csv_2015.rename(columns={"Tm": "Team"})
csv_2016 = csv_2016.rename(columns={"Tm": "Team"})
csv_2017 = csv_2017.rename(columns={"Tm": "Team"})
csv_2018 = csv_2018.rename(columns={"Tm": "Team"})

csv_2009.count()
csv_2018.head(10)

   GameNo Team D/N  Attendance API DATE Format
0       7  BOS   D       36134      2018-04-05
1       8  BOS   D       31821      2018-04-07
2       9  BOS   D       31979      2018-04-08
3      10  BOS   N       32357      2018-04-10
4      11  BOS   N       32400      2018-04-11
5      12  BOS   N       36341      2018-04-12
6      13  BOS   N       32610      2018-04-13
7      14  BOS   D       33584      2018-04-14
8      15  BOS   D       32489      2018-04-15
9      25  BOS   N       32620      2018-04-27

In [174]:
#inner join in python pandas
merge_2009 = pd.merge(df_capacity_2009, csv_2009, on='Team', how='inner')
merge_2010 = pd.merge(df_capacity_2010, csv_2010, on='Team', how='inner')
merge_2011 = pd.merge(df_capacity_2011, csv_2011, on='Team', how='inner')
merge_2012 = pd.merge(df_capacity_2012, csv_2012, on='Team', how='inner')
merge_2013 = pd.merge(df_capacity_2013, csv_2013, on='Team', how='inner')
merge_2014 = pd.merge(df_capacity_2014, csv_2014, on='Team', how='inner')
merge_2015 = pd.merge(df_capacity_2015, csv_2015, on='Team', how='inner')
merge_2016 = pd.merge(df_capacity_2016, csv_2016, on='Team', how='inner')
merge_2017 = pd.merge(df_capacity_2017, csv_2017, on='Team', how='inner')
merge_2018 = pd.merge(df_capacity_2018, csv_2018, on='Team', how='inner')

#merge_2009.count()
merge_2009.head()

   Year Team  Capacity D  Capacity N  GameNo D/N  Attendance API DATE Format
0  2009  CHC       41210       41210       7   D       40077      2009-04-13
1  2009  CHC       41210       41210       8   D       39361      2009-04-15
2  2009  CHC       41210       41210       9   D       38909      2009-04-16
3  2009  CHC       41210       41210      10   D       40250      2009-04-17
4  2009  CHC       41210       41210      11   D       40878      2009-04-18

In [175]:
games = [merge_2009, merge_2010, merge_2011, merge_2012, merge_2013, merge_2014, merge_2015, merge_2016, merge_2017, merge_2018]
concat_games = pd.concat(games,ignore_index=True)

In [176]:

concat_games.count()
concat_games["Capacity"] = "0"
concat_games.head()

#concat_games.iloc[1, 5]




concat_games = concat_games.reset_index()
#concat_games.columns[0] = 'New_ID'
#concat_games["New_ID"] = concat_games.index


concat_games.head(10)

,index,Year,Team,Capacity D,Capacity N,GameNo,D/N,Attendance,API DATE Format,Capacity
0,0,2009,CHC,41210,41210,7,D,40077,2009-04-13,0
1,1,2009,CHC,41210,41210,8,D,39361,2009-04-15,0
2,2,2009,CHC,41210,41210,9,D,38909,2009-04-16,0
3,3,2009,CHC,41210,41210,10,D,40250,2009-04-17,0
4,4,2009,CHC,41210,41210,11,D,40878,2009-04-18,0
5,5,2009,CHC,41210,41210,12,N,38403,2009-04-21,0
6,6,2009,CHC,41210,41210,13,N,38738,2009-04-22,0
7,7,2009,CHC,41210,41210,14,D,40039,2009-04-23,0
8,8,2009,CHC,41210,41210,21,N,37956,2009-04-30,0
9,9,2009,CHC,41210,41210,22,D,38336,2009-05-01,0

In [177]:
concat_games["Capacity"] = concat_games["index"].apply(lambda x: concat_games.iloc[x, 3] if concat_games.iloc[x, 6]=='D' else concat_games.iloc[x, 4])

In [178]:
concat_games = concat_games.drop(['Capacity D', 'Capacity N'], axis=1)

concat_games["Attendance Rate"] = (100/concat_games["Capacity"]) * concat_games["Attendance"]

concat_games.head(10)

,index,Year,Team,GameNo,D/N,Attendance,API DATE Format,Capacity,Attendance Rate
0,0,2009,CHC,7,D,40077,2009-04-13,41210,97.250667
1,1,2009,CHC,8,D,39361,2009-04-15,41210,95.513225
2,2,2009,CHC,9,D,38909,2009-04-16,41210,94.416404
3,3,2009,CHC,10,D,40250,2009-04-17,41210,97.670468
4,4,2009,CHC,11,D,40878,2009-04-18,41210,99.194370
5,5,2009,CHC,12,N,38403,2009-04-21,41210,93.188546
6,6,2009,CHC,13,N,38738,2009-04-22,41210,94.001456
7,7,2009,CHC,14,D,40039,2009-04-23,41210,97.158457
8,8,2009,CHC,21,N,37956,2009-04-30,41210,92.103858
9,9,2009,CHC,22,D,38336,2009-05-01,41210,93.025965

In [179]:
#Add weather Data
Boston_DayGames = pd.read_csv("Boston_DayGames.csv")
Boston_NightGames = pd.read_csv("Boston_NightGames.csv")
Chicago_DayGames = pd.read_csv("Chicago_DayGames.csv")
Chicago_NightGames = pd.read_csv("Chicago_NightGames.csv")

In [196]:
df_Boston_DayGames = pd.DataFrame(Boston_DayGames)
df_Boston_DayGames["D/N"] = "D"
df_Boston_DayGames["Team"] = "BOS"
df_Boston_DayGames = df_Boston_DayGames.rename(columns={"Unnamed: 0": "API DATE Format"})

df_Boston_NightGames = pd.DataFrame(Boston_NightGames)
df_Boston_NightGames["D/N"] = "N"
df_Boston_NightGames["Team"] = "BOS"
df_Boston_NightGames = df_Boston_DayGames.rename(columns={"Unnamed: 0": "API DATE Format"})



df_Chicago_DayGames = pd.DataFrame(Chicago_DayGames)
df_Chicago_DayGames["D/N"] = "D"
df_Chicago_DayGames["Team"] = "CHC"
df_Chicago_DayGames = df_Chicago_DayGames.rename(columns={"Unnamed: 0": "API DATE Format"})


df_Chicago_NightGames = pd.DataFrame(Chicago_NightGames)
df_Chicago_NightGames["D/N"] = "N"
df_Chicago_NightGames["Team"] = "CHC"
df_Chicago_NightGames = df_Chicago_NightGames.rename(columns={"Unnamed: 0": "API DATE Format"})

In [205]:

df_Boston_DayGames.head()

concat_games_1 = pd.merge(concat_games, df_Boston_DayGames, on=['API DATE Format','Team','D/N'], how='inner')
concat_games_2 = pd.merge(concat_games, df_Boston_NightGames, on=['API DATE Format','Team','D/N'], how='inner')
concat_games_3 = pd.merge(concat_games, df_Chicago_DayGames, on=['API DATE Format','Team','D/N'], how='inner')
concat_games_4 = pd.merge(concat_games, df_Chicago_NightGames, on=['API DATE Format','Team','D/N'], how='inner')

games = [concat_games_1, concat_games_2, concat_games_3, concat_games_4]
concat_games_new = pd.concat(games,ignore_index=True)

concat_games.head(10)

concat_games_new.to_csv("merge_sample.csv")

#concat_games_1.count()
#concat_games[(concat_games['D/N']=='D') & (concat_games['Team']=='BOS')].count()

In [206]:
chicago_attendence_rate_mean = concat_games_new["Attendance Rate"][concat_games_new["Team"]=="CHC"].mean()
boston_attendence_rate_mean = concat_games_new["Attendance Rate"][concat_games_new["Team"]=="BOS"].mean()

In [207]:
print(chicago_attendence_rate_mean)
print(boston_attendence_rate_mean)

nan
98.73617681989177

In [208]:
stats.ttest_ind(concat_games_new["Attendance Rate"][concat_games_new["Team"]=="CHC"], concat_games_new["Attendance Rate"][concat_games_new["Team"]=="BOS"], equal_var=False)

Ttest_indResult(statistic=nan, pvalue=nan)

In [209]:
#H0 = There is no difference between fan games attendance for Chicago Cubs and Boston Red Sox
#(Mean attendance Cubs = Mean Attendance Red Sox)

#Ha = Mean attendance Cubs <> Mean Attendance Red Sox
#p = 0.05

#T test P value = 1.62733532339865e-90
#< 0.05 So we reject H0 Hipotesis

#So we adopt Ha
#Mean attendance Cubs <> Mean Attendance Red Sox
#with a P Value of 0.05

In [210]:
# Now we are going to filter out those days with temperatures higher than 60 unless is raining more than 0.5 inch

concat_games_new_filtered = concat_games_new[(concat_games_new['Temperature']<60)|(concat_games_new['Precipitation']>=0.09)]

concat_games_new_filtered.head(1000)

,index,Year,Team,GameNo,D/N,Attendance,API DATE Format,Capacity,Attendance Rate,Icon,Precipitation,Temperature,Summary
0,80,2009,BOS,1,D,37057,2009-04-07,36984,100.197383,cloudy,0.0000,47.67,Overcast
1,82,2009,BOS,3,D,37784,2009-04-09,36984,102.163098,partly-cloudy-day,0.0000,58.28,Partly Cloudy
2,85,2009,BOS,12,D,37869,2009-04-19,36984,102.392927,clear-day,0.0000,52.93,Clear
3,86,2009,BOS,13,D,37865,2009-04-20,36984,102.382111,clear-day,0.0000,51.57,Clear
20,247,2010,BOS,12,D,37143,2010-04-18,36986,100.424485,cloudy,0.0011,48.42,Overcast
21,248,2010,BOS,13,D,37609,2010-04-19,36986,101.684421,cloudy,0.0000,54.26,Overcast
23,260,2010,BOS,31,D,37138,2010-05-08,36986,100.410966,rain,0.1115,54.50,Rain
24,264,2010,BOS,35,D,37198,2010-05-12,36986,100.573190,partly-cloudy-day,0.0000,51.70,Mostly Cloudy
40,322,2010,BOS,162,D,37453,2010-10-03,36986,101.262640,cloudy,0.0000,56.23,Overcast
41,404,2011,BOS,7,D,37178,2011-04-08,37065,100.304870,clear-day,0.0000,51.59,Clear
42,405,2011,BOS,8,D,37488,2011-04-09,37065,101.141238,clear-day,0.0000,59.09,Clear
43,410,2011,BOS,13,D,37310,2011-04-16,37065,100.661001,partly-cloudy-day,0.0000,44.18,Mostly Cloudy
44,411,2011,BOS,14,D,37802,2011-04-17,37065,101.988399,partly-cloudy-day,0.0033,56.79,Mostly Cloudy
45,412,2011,BOS,15,D,37916,2011-04-18,37065,102.295967,clear-day,0.0000,56.60,Clear
46,415,2011,BOS,27,D,37079,2011-05-01,37065,100.037771,clear-day,0.0000,56.85,Clear
47,419,2011,BOS,31,D,37013,2011-05-05,37065,99.859706,cloudy,0.0000,54.43,Overcast
49,422,2011,BOS,34,D,37526,2011-05-08,37065,101.243761,partly-cloudy-day,0.0000,57.84,Mostly Cloudy
69,566,2012,BOS,7,D,37032,2012-04-13,37067,99.905576,partly-cloudy-day,0.0000,59.77,Partly Cloudy
75,578,2012,BOS,26,D,37581,2012-05-05,37067,101.386678,cloudy,0.0000,59.30,Overcast
76,579,2012,BOS,27,D,37394,2012-05-06,37067,100.882186,partly-cloudy-day,0.0000,56.20,Mostly Cloudy
95,731,2013,BOS,10,D,33039,2013-04-13,37071,89.123574,cloudy,0.0000,47.98,Overcast
96,732,2013,BOS,11,D,35198,2013-04-14,37071,94.947533,partly-cloudy-day,0.0000,50.81,Mostly Cloudy
97,733,2013,BOS,12,D,37449,2013-04-15,37071,101.019665,partly-cloudy-day,0.0000,54.47,Partly Cloudy
98,734,2013,BOS,16,D,35152,2013-04-20,37071,94.823447,partly-cloudy-day,0.0000,55.45,Partly Cloudy
99,735,2013,BOS,17,D,31483,2013-04-21,37071,84.926223,clear-day,0.0000,49.09,Clear
104,753,2013,BOS,50,D,36504,2013-05-25,37071,98.470503,rain,0.0035,51.76,Possible Drizzle
105,754,2013,BOS,51,D,37046,2013-05-26,37071,99.932562,cloudy,0.0000,55.34,Overcast
120,890,2014,BOS,4,D,36728,2014-04-04,37071,99.074748,partly-cloudy-day,0.0000,46.35,Mostly Cloudy
121,892,2014,BOS,6,D,35958,2014-04-06,37071,96.997653,clear-day,0.0000,50.75,Clear
122,895,2014,BOS,9,D,33585,2014-04-09,37071,90.596423,cloudy,0.0000,55.82,Overcast
...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,753,2013,BOS,50,D,36504,2013-05-25,37071,98.470503,rain,0.0035,51.76,Possible Drizzle
351,754,2013,BOS,51,D,37046,2013-05-26,37071,99.932562,cloudy,0.0000,55.34,Overcast
366,890,2014,BOS,4,D,36728,2014-04-04,37071,99.074748,partly-cloudy-day,0.0000,46.35,Mostly Cloudy
367,892,2014,BOS,6,D,35958,2014-04-06,37071,96.997653,clear-day,0.0000,50.75,Clear
368,895,2014,BOS,9,D,33585,2014-04-09,37071,90.596423,cloudy,0.0000,55.82,Overcast
369,897,2014,BOS,18,D,37689,2014-04-19,37071,101.667071,partly-cloudy-day,0.0000,59.72,Partly Cloudy
371,904,2014,BOS,28,D,35621,2014-05-01,37071,96.088587,fog,0.0000,54.22,Foggy
373,908,2014,BOS,32,D,35649,2014-05-04,37071,96.164118,cloudy,0.0000,58.99,Overcast
394,1057,2015,BOS,12,D,37761,2015-04-19,37227,101.434443,partly-cloudy-day,0.0000,54.05,Partly Cloudy
395,1058,2015,BOS,13,D,36829,2015-04-20,37227,98.930883,rain,0.0201,44.57,Light Rain
396,1063,2015,BOS,24,D,36611,2015-05-02,37227,98.345287,clear-day,0.0000,58.95,Clear
398,1075,2015,BOS,53,D,31704,2015-06-03,37227,85.163994,cloudy,0.0000,56.53,Overcast
421,1214,2016,BOS,6,D,37160,2016-04-11,37497,99.101261,cloudy,0.0000,55.96,Overcast
422,1218,2016,BOS,10,D,36267,2016-04-16,37497,96.719738,partly-cloudy-day,0.0000,53.50,Partly Cloudy
427,1235,2016,BOS,38,D,35736,2016-05-15,37497,95.303624,partly-cloudy-day,0.0000,58.25,Mostly Cloudy
444,1294,2016,BOS,162,D,36787,2016-10-02,37497,98.106515,cloudy,0.0000,55.41,Overcast
445,1376,2017,BOS,1,D,36594,2017-04-03,37281,98.157238,clear-day,0.0000,56.71,Clear
446,1380,2017,BOS,9,D,32400,2017-04-13,37281,86.907540,partly-cloudy-day,0.0000,53.56,Partly Cloudy
451,1395,2017,BOS,36,D,35447,2017-05-13,37281,95.080604,partly-cloudy-day,0.0000,53.97,Mostly Cloudy
452,1396,2017,BOS,37,D,35080,2017-05-14,37281,94.096188,rain,0.0123,47.47,Drizzle
466,1455,2017,BOS,161,D,35722,2017-09-30,37281,95.818245,cloudy,0.0060,55.06,Overcast
468,1539,2018,BOS,7,D,36134,2018-04-05,37305,96.861011,clear-day,0.0000,39.49,Clear
469,1540,2018,BOS,8,D,31821,2018-04-07,37305,85.299558,partly-cloudy-day,0.0000,42.99,Partly Cloudy
470,1541,2018,BOS,9,D,31979,2018-04-08,37305,85.723093,partly-cloudy-day,0.0000,40.78,Mostly Cloudy
471,1546,2018,BOS,14,D,33584,2018-04-14,37305,90.025466,cloudy,0.0000,52.17,Overcast
472,1547,2018,BOS,15,D,32489,2018-04-15,37305,87.090202,cloudy,0.0000,33.57,Overcast
474,1550,2018,BOS,27,D,32888,2018-04-29,37305,88.159764,rain,0.0031,55.47,Possible Drizzle
478,1563,2018,BOS,53,D,36543,2018-05-27,37305,97.957378,cloudy,0.0000,55.21,Overcast
479,1564,2018,BOS,54,D,34700,2018-05-28,37305,93.017022,cloudy,0.0000,56.33,Overcast
487,1594,2018,BOS,112,D,36699,2018-08-04,37305,98.375553,rain,0.1707,73.58,Rain

In [212]:
chicago_attendence_total = concat_games_new_filtered["Attendance"][concat_games_new_filtered["Team"]=="CHC"].sum()
boston_attendence_total = concat_games_new_filtered["Attendance"][concat_games_new_filtered["Team"]=="BOS"].sum()


print(chicago_attendence_total)
print(boston_attendence_total)

0
3960942