In [115]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats
import pandas as pd

In [116]:
# This will be the module to retrieve our data and place it in a data frame.

csv_2009 = pd.read_csv("2009.csv")
csv_2010 = pd.read_csv("2010.csv")
csv_2011 = pd.read_csv("2011.csv")
csv_2012 = pd.read_csv("2012.csv")
csv_2013 = pd.read_csv("2013.csv")
csv_2014 = pd.read_csv("2014.csv")
csv_2015 = pd.read_csv("2015.csv")
csv_2016 = pd.read_csv("2016.csv")
csv_2017 = pd.read_csv("2017.csv")
csv_2018 = pd.read_csv("2018.csv")

csv_capacity = pd.read_csv("Park_Capacity_Year.csv")


df_2009 = pd.DataFrame(csv_2009)
df_2010 = pd.DataFrame(csv_2010)
df_2011 = pd.DataFrame(csv_2011)
df_2012 = pd.DataFrame(csv_2012)
df_2013 = pd.DataFrame(csv_2013)
df_2014 = pd.DataFrame(csv_2014)
df_2015 = pd.DataFrame(csv_2015)
df_2016 = pd.DataFrame(csv_2016)
df_2017 = pd.DataFrame(csv_2017)
df_2018 = pd.DataFrame(csv_2018)
df_capacity = pd.DataFrame(csv_capacity)

In [117]:
#csv_2009.groupby("Tm").count()


#df_capacity["Difference %"] = (100 / df_capacity["Capacity D"]) * df_capacity["Capacity N"]
#df_capacity.head(20)
df_capacity_2009 = df_capacity[df_capacity["Year"]==2009]
df_capacity_2009.head()

df_capacity_2010 = df_capacity[df_capacity["Year"]==2010]
df_capacity_2010.head()

df_capacity_2011 = df_capacity[df_capacity["Year"]==2011]
df_capacity_2011.head()

df_capacity_2012 = df_capacity[df_capacity["Year"]==2012]
df_capacity_2012.head()

df_capacity_2013 = df_capacity[df_capacity["Year"]==2013]
df_capacity_2013.head()

df_capacity_2014 = df_capacity[df_capacity["Year"]==2014]
df_capacity_2014.head()

df_capacity_2015 = df_capacity[df_capacity["Year"]==2015]
df_capacity_2015.head()

df_capacity_2016 = df_capacity[df_capacity["Year"]==2016]
df_capacity_2016.head()

df_capacity_2017 = df_capacity[df_capacity["Year"]==2017]
df_capacity_2017.head()

df_capacity_2018 = df_capacity[df_capacity["Year"]==2018]
df_capacity_2018.head()

    Year Team  Capacity D  Capacity N
9   2018  CHC       41649       41649
19  2018  BOS       37305       37755

In [118]:
csv_2009 = csv_2009.rename(columns={"Tm": "Team"})
csv_2010 = csv_2010.rename(columns={"Tm": "Team"})
csv_2011 = csv_2011.rename(columns={"Tm": "Team"})
csv_2012 = csv_2012.rename(columns={"Tm": "Team"})
csv_2013 = csv_2013.rename(columns={"Tm": "Team"})
csv_2014 = csv_2014.rename(columns={"Tm": "Team"})
csv_2015 = csv_2015.rename(columns={"Tm": "Team"})
csv_2016 = csv_2016.rename(columns={"Tm": "Team"})
csv_2017 = csv_2017.rename(columns={"Tm": "Team"})
csv_2018 = csv_2018.rename(columns={"Tm": "Team"})

csv_2009.count()
csv_2018.head(10)

   GameNo Team D/N  Attendance API DATE Format
0       7  BOS   D       36134      2018-04-05
1       8  BOS   D       31821      2018-04-07
2       9  BOS   D       31979      2018-04-08
3      10  BOS   N       32357      2018-04-10
4      11  BOS   N       32400      2018-04-11
5      12  BOS   N       36341      2018-04-12
6      13  BOS   N       32610      2018-04-13
7      14  BOS   D       33584      2018-04-14
8      15  BOS   D       32489      2018-04-15
9      25  BOS   N       32620      2018-04-27

In [119]:
#inner join in python pandas
merge_2009 = pd.merge(df_capacity_2009, csv_2009, on='Team', how='inner')
merge_2010 = pd.merge(df_capacity_2010, csv_2010, on='Team', how='inner')
merge_2011 = pd.merge(df_capacity_2011, csv_2011, on='Team', how='inner')
merge_2012 = pd.merge(df_capacity_2012, csv_2012, on='Team', how='inner')
merge_2013 = pd.merge(df_capacity_2013, csv_2013, on='Team', how='inner')
merge_2014 = pd.merge(df_capacity_2014, csv_2014, on='Team', how='inner')
merge_2015 = pd.merge(df_capacity_2015, csv_2015, on='Team', how='inner')
merge_2016 = pd.merge(df_capacity_2016, csv_2016, on='Team', how='inner')
merge_2017 = pd.merge(df_capacity_2017, csv_2017, on='Team', how='inner')
merge_2018 = pd.merge(df_capacity_2018, csv_2018, on='Team', how='inner')

#merge_2009.count()
merge_2011.head(200)

     Year Team  Capacity D  Capacity N  GameNo D/N  Attendance API DATE Format
0    2011  CHC       41159       41159       1   D       41358      2011-04-01
1    2011  CHC       41159       41159       2   D       35782      2011-04-02
2    2011  CHC       41159       41159       3   D       30857      2011-04-03
3    2011  CHC       41159       41159       4   D       26292      2011-04-04
4    2011  CHC       41159       41159       5   D       27039      2011-04-05
5    2011  CHC       41159       41159       6   D       32272      2011-04-06
6    2011  CHC       41159       41159      16   N       36597      2011-04-18
7    2011  CHC       41159       41159      17   D       35544      2011-04-20
8    2011  CHC       41159       41159      18   N       35095      2011-04-20
9    2011  CHC       41159       41159      19   D       36595      2011-04-22
10   2011  CHC       41159       41159      20   D       41161      2011-04-23
11   2011  CHC       41159       41159      21   D       32943      2011-04-24
12   2011  CHC       41159       41159      22   N       37417      2011-04-25
13   2011  CHC       41159       41159      23   N       38261      2011-04-26
14   2011  CHC       41159       41159      31   D       35471      2011-05-06
15   2011  CHC       41159       41159      32   D       37666      2011-05-07
16   2011  CHC       41159       41159      33   D       31931      2011-05-08
17   2011  CHC       41159       41159      34   N       34249      2011-05-10
18   2011  CHC       41159       41159      35   N       34439      2011-05-11
19   2011  CHC       41159       41159      36   D       32559      2011-05-12
20   2011  CHC       41159       41159      37   D       37433      2011-05-13
21   2011  CHC       41159       41159      38   N       39706      2011-05-14
22   2011  CHC       41159       41159      46   N       35707      2011-05-24
23   2011  CHC       41159       41159      47   N       36666      2011-05-25
24   2011  CHC       41159       41159      48   D       33378      2011-05-26
25   2011  CHC       41159       41159      49   D       34105      2011-05-27
26   2011  CHC       41159       41159      50   D       38413      2011-05-28
27   2011  CHC       41159       41159      51   D       37464      2011-05-29
28   2011  CHC       41159       41159      52   D       30450      2011-05-30
29   2011  CHC       41159       41159      53   N       31178      2011-05-31
..    ...  ...         ...         ...     ...  ..         ...             ...
132  2011  BOS       37065       37493     103   D       37822      2011-07-28
133  2011  BOS       37065       37493     107   N       37943      2011-08-01
134  2011  BOS       37065       37493     108   N       38101      2011-08-02
135  2011  BOS       37065       37493     109   N       38172      2011-08-03
136  2011  BOS       37065       37493     110   N       38477      2011-08-04
137  2011  BOS       37065       37493     111   N       38006      2011-08-05
138  2011  BOS       37065       37493     112   D       37416      2011-08-06
139  2011  BOS       37065       37493     113   N       38189      2011-08-07
140  2011  BOS       37065       37493     120   D       38525      2011-08-16
141  2011  BOS       37065       37493     121   N       38278      2011-08-16
142  2011  BOS       37065       37493     122   D       37747      2011-08-17
143  2011  BOS       37065       37493     131   N       38239      2011-08-26
144  2011  BOS       37065       37493     132   D       37314      2011-08-27
145  2011  BOS       37065       37493     133   N       37039      2011-08-27
146  2011  BOS       37065       37493     134   N       37773      2011-08-30
147  2011  BOS       37065       37493     135   N       38021      2011-08-31
148  2011  BOS       37065       37493     136   N       38074      2011-09-01
149  2011  BOS       37065       37493     137   N       38083      2011-09-02
150  2011  BOS       37065       37493     138   D       37806      2011-09-03
151  2011  BOS       37065       37493     139   D       37744      2011-09-04
152  2011  BOS       37065       37493     147   N       38020      2011-09-13
153  2011  BOS       37065       37493     148   D       37087      2011-09-14
154  2011  BOS       37065       37493     149   N       38071      2011-09-15
155  2011  BOS       37065       37493     150   N       38019      2011-09-16
156  2011  BOS       37065       37493     151   D       37682      2011-09-17
157  2011  BOS       37065       37493     152   D       37613      2011-09-18
158  2011  BOS       37065       37493     153   D       37885      2011-09-19
159  2011  BOS       37065       37493     154   N       37261      2011-09-19
160  2011  BOS       37065       37493     155   N       37414      2011-09-20
161  2011  BOS       37065       37493     156   N       38004      2011-09-21

[162 rows x 8 columns]

In [120]:
games = [merge_2009, merge_2010, merge_2011, merge_2012, merge_2013, merge_2014, merge_2015, merge_2016, merge_2017, merge_2018]
concat_games = pd.concat(games,ignore_index=True)

In [121]:

concat_games.count()
concat_games["Capacity"] = "0"
concat_games.head()

#concat_games.iloc[1, 5]




concat_games = concat_games.reset_index()
#concat_games.columns[0] = 'New_ID'
#concat_games["New_ID"] = concat_games.index


concat_games.head(10)

,index,Year,Team,Capacity D,Capacity N,GameNo,D/N,Attendance,API DATE Format,Capacity
0,0,2009,CHC,41210,41210,7,D,40077,2009-04-13,0
1,1,2009,CHC,41210,41210,8,D,39361,2009-04-15,0
2,2,2009,CHC,41210,41210,9,D,38909,2009-04-16,0
3,3,2009,CHC,41210,41210,10,D,40250,2009-04-17,0
4,4,2009,CHC,41210,41210,11,D,40878,2009-04-18,0
5,5,2009,CHC,41210,41210,12,N,38403,2009-04-21,0
6,6,2009,CHC,41210,41210,13,N,38738,2009-04-22,0
7,7,2009,CHC,41210,41210,14,D,40039,2009-04-23,0
8,8,2009,CHC,41210,41210,21,N,37956,2009-04-30,0
9,9,2009,CHC,41210,41210,22,D,38336,2009-05-01,0

In [122]:
concat_games["Capacity"] = concat_games["index"].apply(lambda x: concat_games.iloc[x, 3] if concat_games.iloc[x, 6]=='D' else concat_games.iloc[x, 4])

In [123]:
concat_games = concat_games.drop(['Capacity D', 'Capacity N'], axis=1)

concat_games["Attendance Rate"] = (100/concat_games["Capacity"]) * concat_games["Attendance"]

In [124]:
concat_games[(concat_games['Year']==2012)&(concat_games['Team']=='CHC')]

,index,Year,Team,GameNo,D/N,Attendance,API DATE Format,Capacity,Attendance Rate
485,485,2012,CHC,1,D,41176,2012-04-05,41009,100.407228
486,486,2012,CHC,2,D,40102,2012-04-07,41009,97.788290
487,487,2012,CHC,3,D,31973,2012-04-08,41009,77.965812
488,488,2012,CHC,4,N,38136,2012-04-09,41009,92.994221
489,489,2012,CHC,5,N,37265,2012-04-10,41009,90.870297
490,490,2012,CHC,6,D,34044,2012-04-11,41009,83.015923
491,491,2012,CHC,7,D,36311,2012-04-12,41009,88.543978
492,492,2012,CHC,14,D,37782,2012-04-20,41009,92.130996
493,493,2012,CHC,15,D,38405,2012-04-21,41009,93.650174
494,494,2012,CHC,16,D,35801,2012-04-22,41009,87.300349
495,495,2012,CHC,17,N,37794,2012-04-23,41009,92.160258
496,496,2012,CHC,18,N,38894,2012-04-24,41009,94.842596
497,497,2012,CHC,19,D,34894,2012-04-25,41009,85.088639
498,498,2012,CHC,26,D,37332,2012-05-04,41009,91.033676
499,499,2012,CHC,27,D,39874,2012-05-05,41009,97.232315
500,500,2012,CHC,28,D,38125,2012-05-06,41009,92.967397
501,501,2012,CHC,29,N,36307,2012-05-07,41009,88.534224
502,502,2012,CHC,30,N,38523,2012-05-08,41009,93.937916
503,503,2012,CHC,31,D,31904,2012-05-09,41009,77.797557
504,504,2012,CHC,37,N,38678,2012-05-16,41009,94.315882
505,505,2012,CHC,38,N,37986,2012-05-17,41009,92.628447
506,506,2012,CHC,39,D,34937,2012-05-18,41009,85.193494
507,507,2012,CHC,40,N,40228,2012-05-19,41009,98.095540
508,508,2012,CHC,41,D,38374,2012-05-20,41009,93.574581
509,509,2012,CHC,48,D,38452,2012-05-28,41009,93.764783
510,510,2012,CHC,49,D,35219,2012-05-29,41009,85.881148
511,511,2012,CHC,50,D,38516,2012-05-30,41009,93.920847
512,512,2012,CHC,61,N,41164,2012-06-12,41009,100.377966
513,513,2012,CHC,62,N,41326,2012-06-13,41009,100.773001
514,514,2012,CHC,63,D,42292,2012-06-14,41009,103.128582
...,...,...,...,...,...,...,...,...,...
536,536,2012,CHC,110,N,33397,2012-08-09,41009,81.438221
537,537,2012,CHC,111,D,36891,2012-08-10,41009,89.958302
538,538,2012,CHC,112,D,40602,2012-08-11,41009,99.007535
539,539,2012,CHC,113,D,35461,2012-08-12,41009,86.471262
540,540,2012,CHC,114,N,31452,2012-08-13,41009,76.695360
541,541,2012,CHC,115,N,33376,2012-08-14,41009,81.387013
542,542,2012,CHC,116,D,33714,2012-08-15,41009,82.211222
543,543,2012,CHC,124,D,31255,2012-08-24,41009,76.214977
544,544,2012,CHC,125,D,35296,2012-08-25,41009,86.068912
545,545,2012,CHC,126,D,32346,2012-08-26,41009,78.875369
546,546,2012,CHC,127,N,32541,2012-08-27,41009,79.350874
547,547,2012,CHC,128,N,30017,2012-08-28,41009,73.196128
548,548,2012,CHC,129,N,33271,2012-08-29,41009,81.130971
549,549,2012,CHC,130,D,28859,2012-08-30,41009,70.372357
550,550,2012,CHC,131,D,32476,2012-08-31,41009,79.192372
551,551,2012,CHC,132,D,32477,2012-09-01,41009,79.194811
552,552,2012,CHC,133,D,39760,2012-09-02,41009,96.954327
553,553,2012,CHC,144,D,26946,2012-09-14,41009,65.707528
554,554,2012,CHC,145,D,32774,2012-09-15,41009,79.919042
555,555,2012,CHC,146,D,33559,2012-09-16,41009,81.833256
556,556,2012,CHC,147,N,33017,2012-09-17,41009,80.511595
557,557,2012,CHC,148,N,32547,2012-09-18,41009,79.365505
558,558,2012,CHC,149,N,31001,2012-09-19,41009,75.595601
559,559,2012,CHC,150,D,25891,2012-09-20,41009,63.134922
560,560,2012,CHC,151,D,29100,2012-09-21,41009,70.960033
561,561,2012,CHC,152,D,40298,2012-09-22,41009,98.266234
562,562,2012,CHC,153,D,33354,2012-09-23,41009,81.333366
563,563,2012,CHC,160,N,32167,2012-10-01,41009,78.438879
564,564,2012,CHC,161,N,33168,2012-10-02,41009,80.879807
565,565,2012,CHC,162,D,27606,2012-10-03,41009,67.316930

In [125]:
#Add weather Data
Boston_DayGames = pd.read_csv("Boston_DayGames.csv")
Boston_NightGames = pd.read_csv("Boston_NightGames.csv")
Chicago_DayGames = pd.read_csv("Chicago_DayGames.csv")
Chicago_NightGames = pd.read_csv("Chicago_NightGames.csv")

In [126]:
df_Boston_DayGames = pd.DataFrame(Boston_DayGames)
df_Boston_DayGames["D/N"] = "D"
df_Boston_DayGames["Team"] = "BOS"
df_Boston_DayGames = df_Boston_DayGames.rename(columns={"Unnamed: 0": "API DATE Format"})

df_Boston_NightGames = pd.DataFrame(Boston_NightGames)
df_Boston_NightGames["D/N"] = "N"
df_Boston_NightGames["Team"] = "BOS"
df_Boston_NightGames = df_Boston_NightGames.rename(columns={"Unnamed: 0": "API DATE Format"})



df_Chicago_DayGames = pd.DataFrame(Chicago_DayGames)
df_Chicago_DayGames["D/N"] = "D"
df_Chicago_DayGames["Team"] = "CHC"
df_Chicago_DayGames = df_Chicago_DayGames.rename(columns={"Unnamed: 0": "API DATE Format"})


df_Chicago_NightGames = pd.DataFrame(Chicago_NightGames)
df_Chicago_NightGames["D/N"] = "N"
df_Chicago_NightGames["Team"] = "CHC"
df_Chicago_NightGames = df_Chicago_NightGames.rename(columns={"Unnamed: 0": "API DATE Format"})

In [127]:
df_Chicago_NightGames

,API DATE Format,Icon,Precipitation,Temperature,Summary,D/N,Team
0,2009-04-21,rain,0.0055,42.79,Possible Drizzle,N,CHC
1,2009-04-22,partly-cloudy-day,0.0000,58.00,Partly Cloudy,N,CHC
2,2009-04-30,cloudy,0.0000,60.45,Overcast,N,CHC
3,2009-05-04,cloudy,0.0000,66.98,Overcast,N,CHC
4,2009-05-12,partly-cloudy-day,0.0000,69.28,Mostly Cloudy,N,CHC
5,2009-05-13,cloudy,0.0000,66.20,Overcast,N,CHC
6,2009-05-25,rain,0.0066,56.35,Possible Drizzle,N,CHC
7,2009-05-26,cloudy,0.0028,65.15,Overcast,N,CHC
8,2009-05-28,cloudy,0.0000,61.96,Overcast,N,CHC
9,2009-05-31,partly-cloudy-day,0.0000,67.06,Partly Cloudy,N,CHC
10,2009-07-02,partly-cloudy-day,0.0000,69.66,Mostly Cloudy,N,CHC
11,2009-07-06,partly-cloudy-day,0.0000,81.53,Partly Cloudy,N,CHC
12,2009-07-07,cloudy,0.0000,68.16,Overcast,N,CHC
13,2009-07-12,partly-cloudy-day,0.0000,78.14,Mostly Cloudy,N,CHC
14,2009-07-27,partly-cloudy-day,0.0000,82.86,Mostly Cloudy,N,CHC
15,2009-07-28,partly-cloudy-day,0.0000,82.80,Mostly Cloudy,N,CHC
16,2009-08-11,partly-cloudy-day,0.0000,76.89,Partly Cloudy,N,CHC
17,2009-08-12,clear-day,0.0000,79.95,Clear,N,CHC
18,2009-08-25,partly-cloudy-day,0.0000,80.99,Partly Cloudy,N,CHC
19,2009-08-26,rain,0.0793,64.63,Light Rain,N,CHC
20,2009-08-31,partly-cloudy-day,0.0000,65.70,Partly Cloudy,N,CHC
21,2009-09-01,clear-day,0.0000,67.86,Clear,N,CHC
22,2009-09-14,partly-cloudy-day,0.0000,81.54,Partly Cloudy,N,CHC
23,2009-09-15,partly-cloudy-day,0.0000,74.74,Mostly Cloudy,N,CHC
24,2009-09-16,partly-cloudy-day,0.0000,67.10,Partly Cloudy,N,CHC
25,2009-09-29,cloudy,0.0000,58.59,Overcast,N,CHC
26,2009-09-30,clear-day,0.0000,56.63,Clear,N,CHC
27,2010-04-26,partly-cloudy-day,0.0000,56.61,Partly Cloudy,N,CHC
28,2010-04-27,clear-day,0.0000,49.51,Clear,N,CHC
29,2010-05-10,partly-cloudy-day,0.0000,57.50,Mostly Cloudy,N,CHC
...,...,...,...,...,...,...,...
282,2017-07-08,partly-cloudy-day,0.0000,75.73,Partly Cloudy,N,CHC
283,2017-07-23,rain,0.0257,77.20,Possible Light Rain,N,CHC
284,2017-08-01,partly-cloudy-day,0.0000,81.86,Mostly Cloudy,N,CHC
285,2017-08-02,partly-cloudy-day,0.0000,82.44,Mostly Cloudy,N,CHC
286,2017-08-14,partly-cloudy-day,0.0000,81.07,Mostly Cloudy,N,CHC
287,2017-08-15,partly-cloudy-day,0.0000,74.78,Partly Cloudy,N,CHC
288,2017-08-16,cloudy,0.0009,79.98,Overcast,N,CHC
289,2017-08-28,rain,0.0091,70.37,Possible Drizzle,N,CHC
290,2017-08-29,cloudy,0.0000,70.69,Overcast,N,CHC
291,2017-08-30,partly-cloudy-day,0.0000,77.40,Mostly Cloudy,N,CHC
292,2017-08-31,partly-cloudy-day,0.0000,68.10,Mostly Cloudy,N,CHC
293,2017-09-08,cloudy,0.0000,63.17,Overcast,N,CHC
294,2017-09-12,partly-cloudy-day,0.0000,71.00,Partly Cloudy,N,CHC
295,2017-09-13,cloudy,0.0000,69.71,Overcast,N,CHC
296,2017-09-14,partly-cloudy-day,0.0000,78.27,Partly Cloudy,N,CHC
297,2018-04-11,cloudy,0.0000,56.68,Overcast,N,CHC
298,2018-04-17,partly-cloudy-day,0.0000,40.95,Partly Cloudy,N,CHC
299,2018-04-26,partly-cloudy-day,0.0000,63.62,Mostly Cloudy,N,CHC
300,2018-04-30,clear-day,0.0000,79.23,Clear,N,CHC
301,2018-05-01,partly-cloudy-day,0.0000,83.74,Mostly Cloudy,N,CHC
302,2018-05-07,clear-day,0.0000,72.55,Clear,N,CHC
303,2018-05-08,partly-cloudy-day,0.0000,80.42,Partly Cloudy,N,CHC
304,2018-05-22,cloudy,0.0000,59.47,Overcast,N,CHC
305,2018-05-23,partly-cloudy-day,0.0000,74.39,Partly Cloudy,N,CHC
306,2018-05-26,partly-cloudy-day,0.0000,86.35,Partly Cloudy,N,CHC
307,2018-05-27,partly-cloudy-day,0.0000,91.50,Partly Cloudy,N,CHC
308,2018-06-05,partly-cloudy-day,0.0009,57.98,Mostly Cloudy,N,CHC
309,2018-06-06,partly-cloudy-day,0.0000,73.25,Mostly Cloudy,N,CHC
310,2018-06-19,cloudy,0.0000,69.63,Overcast,N,CHC
311,2018-07-19,partly-cloudy-day,0.0000,82.98,Mostly Cloudy,N,CHC

In [128]:

df_Boston_DayGames.head()

concat_games_1 = pd.merge(concat_games, df_Boston_DayGames, on=['API DATE Format','Team','D/N'], how='inner')
concat_games_2 = pd.merge(concat_games, df_Boston_NightGames, on=['API DATE Format','Team','D/N'], how='inner')
concat_games_3 = pd.merge(concat_games, df_Chicago_DayGames, on=['API DATE Format','Team','D/N'], how='inner')
concat_games_4 = pd.merge(concat_games, df_Chicago_NightGames, on=['API DATE Format','Team','D/N'], how='left')

games = [concat_games_1, concat_games_2, concat_games_3, concat_games_4]
concat_games_new = pd.concat(games,ignore_index=True)

concat_games.head(10)

concat_games_new.to_csv("merge_sample_before_filter.csv")

#concat_games_1.count()
#concat_games[(concat_games['D/N']=='D') & (concat_games['Team']=='BOS')].count()

In [129]:
concat_games_4.groupby("Year").mean()

,index,GameNo,Attendance,Capacity,Attendance Rate,Precipitation,Temperature
Year,,,,,,,
2009,80.0,82.670807,38705.329193,39241.490683,98.765200,0.003489,68.592222
2010,241.5,79.376543,37712.456790,39252.074074,96.304559,0.000914,74.812414
2011,403.5,80.179012,37481.277778,39252.024691,95.743187,0.003821,71.191379
2012,565.5,80.055556,36578.759259,39185.950617,93.668201,0.002494,72.824194
2013,727.5,81.203704,35284.500000,39190.308642,90.199677,0.001610,74.140645
2014,889.5,82.364198,34618.530864,39219.450617,88.694465,0.004989,70.961842
2015,1051.5,81.388889,36052.506173,39162.370370,92.192375,0.000324,72.300789
2016,1213.5,78.388889,36513.864198,39444.425926,92.766596,0.003953,72.160789
2017,1375.5,82.709877,37760.740741,39626.111111,95.319309,0.003494,69.229722
2018,1538.0,85.042945,37280.147239,39636.644172,94.103673,0.000060,71.516000

In [130]:
chicago_attendence_rate_mean = concat_games_new["Attendance Rate"][concat_games_new["Team"]=="CHC"].mean()
boston_attendence_rate_mean = concat_games_new["Attendance Rate"][concat_games_new["Team"]=="BOS"].mean()

In [131]:
print(chicago_attendence_rate_mean)
print(boston_attendence_rate_mean)

90.34859703489477
97.8065915227605

In [132]:
stats.ttest_ind(concat_games_new["Attendance Rate"][concat_games_new["Team"]=="CHC"], concat_games_new["Attendance Rate"][concat_games_new["Team"]=="BOS"], equal_var=False)

Ttest_indResult(statistic=-26.227434299203317, pvalue=7.617604417815586e-129)

In [133]:
#H0 = There is no difference between fan games attendance for Chicago Cubs and Boston Red Sox
#(Mean attendance Cubs = Mean Attendance Red Sox)

#Ha = Mean attendance Cubs <> Mean Attendance Red Sox
#p = 0.05

#T test P value = 1.62733532339865e-90
#< 0.05 So we reject H0 Hipotesis

#So we adopt Ha
#Mean attendance Cubs <> Mean Attendance Red Sox
#with a P Value of 0.05

In [134]:
# Now we are going to filter out those days with temperatures higher than 60 unless is raining more than 0.5 inch

concat_games_new_filtered = concat_games_new[(concat_games_new['Temperature']<60)|(concat_games_new['Precipitation']>=0.09)]

concat_games_new_filtered.head(1000)
concat_games_new_filtered.to_csv("merge_sample_after_filter.csv")

In [135]:


chicago_attendence_total = concat_games_new_filtered["Attendance"][concat_games_new_filtered["Team"]=="CHC"].sum()
boston_attendence_total = concat_games_new_filtered["Attendance"][concat_games_new_filtered["Team"]=="BOS"].sum()


print(chicago_attendence_total)
print(boston_attendence_total)

5033014
5309553